# Ignore python virtual enviroment and test media in the client and server
spotify_client/media/*
spotify_client/env/*
!spotify_client/media/.gitignore

spotify_server/env/*
spotify_server/media/*
spotify_server/venv/*
!spotify_server/media/.gitignore

songs/*

**/__pycache__/


# Archivos del sistema operativo
.DS_Store
Thumbs.db


# Módulos de Node.js
spotify_client/node_modules/

# Archivos generados por Next.js
spotify_client/.next/



# Archivos de configuración sensibles
.env*
